In [1]:
import sys
sys.path.append('/home/rustem/projs/strategies')

import pandas as pd
import matplotlib.pyplot as plt
from src.utils import TradingSystem
from tqdm import tqdm

In [2]:
params = {
    'ma_window_width': 5,
    'q_std_rolling_width': 20,
    'sigma_coeff_for_SL': 0.1,
    'q': .8,
    'q_window_width': 20,
    'risk_value': 100
}
ts = TradingSystem(**params)

df = pd.read_csv(
    '/home/rustem/projs/strategies/data/raw/BTC-USDT.csv',
    index_col=0)[['ts', 'o', 'h', 'l', 'c', 'vol']].sort_values(by='ts')

rows_list = []
history = 43
indices = range(0, df.shape[0] - history)
for i in tqdm(indices, total=len(indices)):
    data = df.iloc[i:i+history]

    signal = ts.get_signal(data)
    sl = ts.get_stoploss()
    is_reached_sl = ts.reached_sl()
    profit = ts.profit()

    last = data.iloc[-1].copy()
    last['signal'] = signal
    last['sl'] = sl
    last['is_reached_sl'] = is_reached_sl
    last['profit'] = profit
    rows_list.append(last.to_dict())

  0%|          | 208/99957 [00:01<09:13, 180.06it/s]

In [22]:
df = pd.DataFrame(rows_list)

In [28]:
df.dropna(subset='profit')

,ts,o,h,l,c,vol,signal,sl,is_reached_sl,profit
8,1.678776e+12,24387.7,24387.7,24363.7,24363.7,12.0,"{'type': 1, 'price': 24364.388000000003, 'acti...",24362.450042,False,-0.688000
9,1.678776e+12,24361.6,24374.6,24359.6,24374.6,2.0,NaN,24362.450042,True,0.850042
13,1.678776e+12,24356.2,24360.7,24330.1,24330.1,5.0,"{'type': 1, 'price': 24332.823999999997, 'acti...",24330.924660,True,-1.899340
18,1.678776e+12,24316.7,24336.9,24313.2,24335.9,1.0,"{'type': 0, 'price': 24329.976, 'action': 'open'}",24333.197433,True,-3.221433
26,1.678777e+12,24319.7,24326.9,24308.9,24311.7,10.0,"{'type': 0, 'price': 24326.308, 'action': 'open'}",24329.253859,False,14.608000
...,...,...,...,...,...,...,...,...,...,...
1599,1.678871e+12,24753.6,24753.7,24745.1,24745.1,1.0,NaN,24750.487620,True,-3.112380
1604,1.678872e+12,24741.6,24757.6,24740.8,24749.2,3.0,"{'type': 0, 'price': 24750.811999999998, 'acti...",24752.027273,True,-1.215273
1615,1.678872e+12,24765.3,24765.3,24731.8,24731.8,9.0,"{'type': 1, 'price': 24734.952, 'action': 'open'}",24733.828612,True,-1.123388
1622,1.678873e+12,24670.9,24707.1,24662.6,24707.1,20.0,"{'type': 1, 'price': 24669.112, 'action': 'open'}",24667.058315,True,-2.053685
1630,1.678873e+12,24681.8,24683.7,24645.1,24666.2,4.0,"{'type': 1, 'price': 24659.012, 'action': 'open'}",24656.167888,True,-2.844112